body {
  background-color:#dedede;
  color:#444;
}

h1, h2, h3, h4 {
  line-height: inherit !important;
}

div.mainwrapper {
  padding: 20px;
  background-color: white;
  border: solid 1px #ccc;
  margin-top:30px;
  margin-bottom:30px;
  border-right:solid 3px #ccc;
  border-bottom:solid 3px #ccc;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  text-transform:uppercase;
  margin-bottom: 2px;
}

span.subtitle {
  text-align: center;
  color: #aaa;
  display: block;
  font-size:0.9em;
}

h2 {
  font-size: 1.3em;
  border-bottom:solid 1px #ccc;
  margin-top:20px;
  text-transform: uppercase;
}

h3 {
  font-size:1.2em;
  margin-bottom:5px;
}

h4 {
  font-size: 1.1em;
  margin-top:0px;
  font-weight: normal;
  font-style: italic;
  margin-bottom:5px;
  margin-top:-5px;
}

h3 span.date {
  float:right;
  margin-left:10px;
}

a, a:hover {
  text-decoration: none;
  border-bottom: dashed 1px #aaa;
  color: #444;
}

a:hover {
  border-bottom:dotted 1px #aaa;
  border-color: #aaa;
}

span.subtitle a, span.subtitle a:hover {
  color:#aaa;
}

div.buttoncontainer {
  text-align: center;
}

@media print {
  div.mainwrapper {
    /*padding: 0;*/
    border: none;
  }
  ul {
    page-break-after: auto;
    page-break-inside: avoid;
    page-break-before: avoid;
  }
  h1, h2, h3, h4 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1, h4 {
    page-break-before:avoid;
  }

  .btn {
    display:none;
  }

  a:link:after, a:visited:after {
    content: "";
  }

  div.pagebreak {
    page-break-before: always;
    clear: both;
  }

}

