body {
  /*background:url('/img/background.png');*/
  color:#444;
  font-size:14px;
  line-height:20px;
  background-color: #eee;
}

li {
  line-height:26px;
}
p {
  margin-bottom:13px;
}

h1 {
  font-size:1.6em;
  font-weight:normal;
}

h2 {
  font-size: 1.3em;
  font-weight:normal;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

div.header {
  /*margin-bottom: 30px;*/
  /*border-bottom: solid 1px #ccc;*/
}

div.header ul.nav {
  margin-bottom:0px;
  margin-left:10px;
}

div.header h2.muted a {
  color: rgb(15, 121, 136);
  /*text-transform: uppercase;*/
  font-size:1em;
}

div.header h2.muted a:hover {
  text-decoration: none;
}

div.header ul.nav a {
  color:#0f7988;
}

div.bigheader {
  text-align: center;
  background-image:url('/img/backdrop.jpg');
  background-repeat:no-repeat;
  background-position:center bottom;
}

.bigheader .hero-unit {
  background: none;
  color:white;

}

.frontpage-stuff {
  font-size: 14px
}

.frontpage-stuff h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.frontpage-stuff .stuff-wrapper dt {
  font-weight: normal;
}

.frontpage-stuff .stuff-wrapper dd {
  margin-left:0;
  color:#aaa;
  padding-bottom:10px;
  font-size: 0.9em;
}

.frontpage-stuff .stuff-wrapper dd a {
  margin-left:0;
  color:inherit;
  text-decoration: underline;
}


.frontpage-stuff .stuff-wrapper {
  background-color: white;
  padding: 20px;
  border:solid 1px #ccc;
  margin-top:10px;
  margin-bottom: 10px
}


/*div.narrow {
  max-width:790px;
  padding-left:5px;
  padding-right:5px;
}*/

div.maincontent {
  border:solid 1px #ccc;
  padding: 20px;
  background-color: white;
}

div.post {
  border-bottom: solid 1px #eee;
}

div.post h1 {
  margin-bottom:0;
}

div.post p.subtitle {
  color:#888;
  font-size: 0.9em;
  padding-bottom:15px;
  margin-bottom:0px;
}

div.post img {
  display:block;
  margin:auto;
  border: solid 2px #eee;
}

div#related {
  margin-bottom:50px;
}

div#related ul.posts {
  list-style:none;
}

div#related ul.posts li {
  padding-bottom:8px;
}

div#related span.related_date {
  color:#777;
}

.post-highlight {
  margin-bottom:20px;
  border-bottom:solid 1px #eee;
}

.post-highlight h2 {
  margin-top:0;
  margin-bottom:0;
}

.post-highlight .subtitle {
  margin-top: -5px;
  font-size:0.9em;
  color:#aaa;
  margin-bottom: 0;
}

.sidebar .email-input {
  width:100%;
}

.top-heading {
  margin-top:0;
}

// Block level inputs
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        // Make inputs at least the height of their button counterpart
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}


div.sidebar a.subscribe-link {
  font-size: 0.8em;
  float: right;
}

div.sidebar img {
  float:left;
  
  opacity:0.9;
  margin-top:6px;
  margin-right:10px;
}

div.footer {
  color:#eee;
  padding:2%;
  width:96%;
  float:left;
  margin-top:50px;
  background-color:#444;
  font-size: 0.9em;
}

div.footer a {
  color:inherit;
  text-decoration: underline;
}

div.footer span.right {
  text-align: right;
  float:right;
}

div.postlist div.post {
  padding-bottom:30px;
  border-bottom: solid 4px #666;
  margin-bottom:30px;
}

div.postlist div.post h1 a {
  text-decoration:underline;
}

div.pagination {
  text-align: center;
}

div.archivetitle {
  width:100%;
  float:left;
  border-bottom: solid 1px #eee;
  margin-bottom:30px;
}

div.archivetitle h2 {
  float:left;
}

div.archivetitle ul {
  float:right;
  margin-top:15px;
}

.c1 {color:#aaa;}


div#email-subscribe {
  background-color: #FAFAD2;
  padding-left: 5px;
  padding-right: 5px;
}

ol li ul {
  margin-bottom:15px;
}

/*.modal {
  position: absolute;
}
*/

.modal h1 {
  margin:0;
}
.modal-body {
  max-height:450px;
}

.modal-body img {
  margin-bottom:10px;
}

.research {
  padding:20px;
  background-color:#333;
  color:white;
  border-radius:5px;
}

/*BUTTONS*/

.share {
  text-align: right;
}

.share .btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.share .btn:hover {
  color:black;
}

.btn i {
  margin-left: -3px;
  padding-right: 5px;
}

.btn-facebook {
  background-color: #3b5998;
  background-image:none;
}

.btn-twitter {
  background-color: #00aced;
  background-image:none;
}

.btn-linkedin {
  background-color: #4875B4;
  background-image: none;
}