<div class="well bg-darkgray">
  <div class="media">
    <a href="https://click.linksynergy.com/deeplink?id=KuenSouhzgQ&mid=40328&murl=https%3A%2F%2Fwww.coursera.org%2Fspecializations%2Fbig-data" class="pull-left">
      <img width="72px" src="/img/logo-icon-only.png" alt="" class="flush-img">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Hire me to supercharge your Hadoop and Spark projects</h4>
      <p>I help businesses improve their return on investment from big data projects. I do everything from software architecture to staff training. <a href="https://rathbonelabs.com" target="_blank">Learn More</a></p>
    </div>
  </div>
</div>
