
<div class="about-me">
  <div class="me">
    <img src="/img/matthew-75.png" alt="Matthew Rathbone's Picture">
  </div>
  <h2>Matthew Rathbone</h2>
  <p>CEO of <a href="http://beekeeperdata.com">Beekeeper Data</a>. British. Data Nerd. Lucky husband and father. <a href="/about.html">More about me</a></p>
<!--   <a href="http://twitter.com/rathboma" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
  <a href="http://stackoverflow.com/users/18818/matthew-rathbone" class="author-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i> SO</a>
 --></div>
