


<div class="row-fluid">
      <div class="span6">
        <ul class="fa-ul">
          <li><i class="fa fa-li fa-check"></i> Hadoop Tutorials</li>
          <li><i class="fa fa-li fa-check"></i> Engineering Walkthroughs</li>
        </ul>
      </div>
      <div class="span6">
        <ul class="fa-ul">
          <li><i class="fa fa-li fa-check"></i> Book Recommendations</li>
          <li><i class="fa fa-li fa-check"></i> Open Source Code</li>
        </ul>
      </div>
  </div>
  <div class="row-fluid">
    <div class="span12">



      <form class="signup" action="https://app.99inbound.com/api/e/K-wp0Mrv" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div class="controls">
          <div style="position: absolute; left: -5000px;">
            <input type="checkbox" name="messy_green_spotted_mission" value="1" tabindex="-1" autocomplete="no">
          </div>
          <input type="hidden" value="{{include.source}}" name="SOURCE" id="SOURCE" />
          <input type="email" value="" name="EMAIL" class="email-input span12" id="mce-EMAIL" placeholder="enter your email here" required />
          <button name="subscribe" id="mc-embedded-subscribe" class="btn btn-success pull-right">Subscribe</button>
          </div>
        <span class="help-block">100% privacy guaranteed</span>
      </form>
    </div>
    
  </div>
