


<div class="row-fluid">
      <div class="span6">
        <ul class="fa-ul">
          <li><i class="fa fa-li fa-check"></i> Reporting Tips</li>
          <li><i class="fa fa-li fa-check"></i> Engineering Tutorials</li>
        </ul>
      </div>
      <div class="span6">
        <ul class="fa-ul">
          <li><i class="fa fa-li fa-check"></i> Book Recommendations</li>
          <li><i class="fa fa-li fa-check"></i> Open Source Code</li>
        </ul>
      </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <form class="signup" action="http://matthewrathbone.us4.list-manage.com/subscribe/post?u=e3dea64cd163454dc3b759330&amp;id=4520f50363" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div class="controls">
          <input type="hidden" value="{{include.source}}" name="SOURCE" id="SOURCE" />
          <input type="email" value="" name="EMAIL" class="email-input span12" id="mce-EMAIL" placeholder="enter your email here" required />
          <button name="subscribe" id="mc-embedded-subscribe" class="btn btn-success pull-right">Subscribe</button>
          </div>
        <span class="help-block">100% privacy guaranteed</span>
      </form>
    </div>
    
  </div>
