<!-- Cheatsheet! modal -->
<div id="cheatsheetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form class="signup nomargin" action="http://matthewrathbone.us4.list-manage.com/subscribe/post?u=e3dea64cd163454dc3b759330&amp;id=4520f50363" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 id="modalTitle">Free HDFS Cheatsheet</h1>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
          <div class="span4">
            <img class="bordered" src="/img/cheatsheet-image.png" alt="">
          </div>
          <div class="span8">
            <h4>Get a free HDFS cheatsheet when you subscribe</h4>
            plus awesome content, like:
            <ul class="fa-ul">
              <li><i class="fa fa-li fa-check"></i> Hadoop Tutorials</li>
              <li><i class="fa fa-li fa-check"></i> Engineering Walkthroughs</li>
              <li><i class="fa fa-li fa-check"></i> Book Recommendations</li>
              <li><i class="fa fa-li fa-check"></i> Open Source Code</li>
              <li><i class="fa fa-li fa-check"></i> Beginner Guides</li>
            </ul>

          </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
              <div class="controls">
                <input type="hidden" value="{{include.source}}" name="SOURCE" id="SOURCE" />
                <input type="email" value="" name="EMAIL" class="email-input nomargin span12" id="mce-EMAIL" placeholder="enter your email here" required />
                <span class="muted pull-right">100% privacy guaranteed</span>
              </div>
        </div>    
      </div>

  </div>
  <div class="modal-footer">
    <a href="" data-dismiss="modal" class="muted closemodal pull-left">no, I hate free things</a>
    <button name="subscribe" id="mc-embedded-subscribe" class="btn btn-success pull-right">Subscribe</button>
  </div>
</form>
</div>

<script>

  var modal = "#cheatsheetModal";

  // MODAL STUFF
    var subject = '{{include.subject}}';
    var modalShownCookie = $.cookie("modalshown");
    var modalShown = false;
    var production = false;
    {% if site.github %}
      production = true;
    {% endif %}

    if (modalShownCookie != undefined && modalShownCookie == 'true') {
      console.log("modalshown cookie is TRUE!");
      modalShown = true;
    }
    function isScrolledIntoView(elem) {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }

    $(window).on('scroll', function(e) {
      if(isScrolledIntoView($('#enjoy')) && modalShown == false && subject == 'hadoop') {
        modalShown = true;
        if(production) {
          $.cookie('modalshown', 'true', {expires: 1, path: '/'});
        } else {
          console.log("not in production");
        }

        $(modal).modal();
      }
    });
    $("#closemodal").click(function(){
      $(modal).modal('hide');
    });

</script>

