
.post .markdown-content {
  border-bottom: solid 1px #eee;



  code {
    word-wrap: break-word;
    max-width: 100%;
    white-space: normal;
    font-weight: bold;
  }

  figure.highlight {
    margin: 0;
    pre {
      padding: 20px;

    }
  }

  pre code {
    font-size:1.1em;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
    display:block;
    padding-bottom:5px;
  }


  p.subtitle {
    color:#888;
    font-size: 0.9em;
    padding-bottom:5px;
    margin-bottom:20px;
    min-height: 50px;
  }


  .subtitle .avatar {
    max-width:50px;
    float:left;
    margin-right:10px;
    border: none;
  }

  .subtitle .author-date {
    display: inline-block;
    margin-top:12px;
  }



  p.coauthor {
    text-align: left;
    padding-bottom: 10px;
    color: #888;
    font-style: italic;
  }





  .header-img img {
    width:100%;
    padding:0;
    border:0;
  }

  .header-img p.muted a {
    color: inherit;
  }

  a {
    border-bottom: solid 1px #ccc;
    // font-weight: bold;
    text-decoration: none;
    color: #ff3764;

    &:hover {
      color: black;
    }
  }

  a:hover {
    text-decoration: none;
  }

  div.related {
    margin-bottom:50px;
  }

  h1 {
    margin-bottom:10px;
    margin-top:0;
    font-weight:bold;
    font-size: 1.8em;
  }





}
