body {
  /*background:url('/img/background.png');*/
  color:#444;
  font-size:16px;
  line-height:26px;
  background: url('/img/concrete_seamless.png');
  background-repeat: repeat;
  font-family: 'Lato', sans-serif !important;
}


html, body {
  height: 100%;
}

blockquote {
  background-color: #eee;
  border:none;
  padding:10px;
  color: #666;
  border-radius: 5px;
  padding-top: 25px;
}

blockquote p {
  margin-bottom: inherit;
}

.bordered {
  border: solid 1px #444;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 100px;
}


.header .nav {
  a {
    i.fa {
      margin-left: 5px;
      color: #00000040;
      font-size: 0.8em;
    }
  }
}

.header span.website-title {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}


.container-fluid {
  max-width:1200px;
  margin:auto;
}

img.small-img {
  max-width:125px;
  margin-right:20px;
}

img.flush-img {
  border: 0;
  padding: 0;
  margin: 0;
}

img.pull-left {
  margin-right:20px !important;
}


img.pull-right {
  margin-left:20px !important;
}


img.rounded {
  border-radius: 50%;
  margin-bottom: 10px
}


li {
  line-height:26px;
}
p {
  margin-bottom:13px;
}

a {
  color: #333;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size:1.6em;
  font-weight:normal;
}

h2 {
  font-size: 1.8em;
  font-weight:bold;
}

.burnt {
  background-color:#B03324;
  color: white;
  border-color: #B03324;
}

.bg-darkgray {
  background-color: #545050;
  color: white;
  a {
    border-bottom: none !important;
    text-decoration: underline;
    color: #fafad2;
    &:hover {
      color: white;
    }
  }
}

h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

table.table-fixed {
  table-layout: fixed;
}

table.table-fixed th {
  font-size:1.3em;
}

.top-25 {
  margin-top:25px;
}

.media {
  h4 {
    font-size: 24px;
  }
  font-size: 18px;
  p {
    margin-bottom: 0;
  }
}

.page-wrap.breadcrumb {
  margin-bottom:10px;
}

.post code {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.post pre code {
  font-size:1.1em;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  display:block;
  padding-bottom:5px;
}

.about-me {
  margin-bottom:20px;
  min-height:75px;
  padding-bottom:10px;
  border-bottom: solid 1px #eee;
}

.about-me .me {
  margin-right:10px;
  padding: 0;
  float: left;
  max-width: 75px;
}

.about-me h2 {
  margin-bottom:0;
}

.nomargin {
  margin: 0 !important;
}


div.header {
  margin-top: 20px;
  margin-bottom:10px;
  /*margin-bottom: 30px;*/
  /*border-bottom: solid 1px #ccc;*/

}

div.header ul.nav {
  margin-bottom:0px;
  margin-left:10px;
}

div.header h2.muted a {
  color: #333;
  text-transform: uppercase;
  font-size:1em;
}

div.header span.muted a:hover {
  text-decoration: none;
}

div.header ul.nav a {
  color:#333;
}

div.bigheader {
  background-image:url('/img/backdrop.jpg');
  background-repeat:no-repeat;
  background-position:center bottom;
  min-height:400px;
  background-color: black;
}

.bigheader .hero-unit {
  background: none;
  color:white;
  margin:auto;
  margin-top:50px;
  max-width:1000px;
}

.bigheader .hero-unit .help-block {
  color:#FFFEC6;
}

.bigheader h1 {
  font-weight: bold;
  letter-spacing: -1pt;
  margin-bottom:10px;
}


.frontpage-stuff {
  font-size: 14px
}

.frontpage-stuff h2 {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 30px;

  .more-link a {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.frontpage-stuff h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.frontpage-stuff .stuff-wrapper dt {
  font-weight: normal;
}

.frontpage-stuff .stuff-wrapper dd {
  margin-left:0;
  color:#aaa;
  padding-bottom:10px;
  font-size: 0.9em;
}

.frontpage-stuff .stuff-wrapper dd a {
  margin-left:0;
  color:inherit;
  text-decoration: underline;
}


.frontpage-stuff .stuff-wrapper {

  margin-top:10px;
  background-color: white;
  border:solid 1px #ccc;
  margin-bottom: 10px;

  .stuff-image {
    height: 140px;
    overflow: hidden;
    img {
      // max-width: 100%;
      // max-height: 100%;
      object-fit: cover;
    }
  }

  .stuff-body {
    height: 300px;
    padding: 20px;
  }
  .stuff-footer {
    text-align: right;
    padding-bottom:20px;
    padding-right:20px;

  }


}


/*div.narrow {
  max-width:790px;
  padding-left:5px;
  padding-right:5px;
}*/

div.maincontent {
  padding: 20px;
  background-color: white;
  margin-bottom:20px;

}



.page-wrap .previous-wrapper {
  text-align: left;
}

.page-wrap .next-wrapper {
  text-align: right;
}

div.related ul.posts {
  list-style:none;
  margin-left:0;
}

div.related ul.posts li {
  padding-bottom:8px;
}

div.related span.related_date {
  color:#777;
}

.post-highlight {
  margin-bottom:20px;
  border-bottom:solid 1px #eee;
}

.post-highlight h2 {
  margin-top:0;
  margin-bottom:0;
}

.post-highlight .subtitle {
  margin-top: -5px;
  font-size:0.9em;
  color:#aaa;
  margin-bottom: 0;
}

.sidebar .email-input {
  width:100%;
}

.top-heading {
  margin-top:0;
}


.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        /*// Make inputs at least the height of their button counterpart*/
}


div.sidebar h2 {
  line-height: 1em;
  font-weight: bold;
  font-size:2.2em;
}

div.sidebar p {
  line-height: 1.5em;
}

div.sidebar a.subscribe-link {
  font-size: 0.8em;
  float: right;
}

div.sidebar img {
  border-radius: 50%;
  margin-bottom: 10px

}

div.sidebar a.author-social {
  display: block;
  color:inherit;
  font-weight: bold;
  font-size:1.1em;
}

div.sidebar a.author-social:hover {
  text-decoration: none;
  color: #666;
}


div.card {
  padding:20px;
  background-color:white;
  border-radius: 5px;
  margin-bottom:20px;
}

div.card h2 {
  text-align: left;
  font-size: 1.3em;
  padding-bottom: 10px;

  img {
    max-width: 27px;
    margin-bottom: 3px;
  }
}

.card.inverted {
  background-color: #333;
  color: white;
}

.card.inverted h2 {
  border-bottom:solid 1px #5F5F5F;
}

.card.inverted p, .inverted h2 {
  color: white;
}




div.footer {
  color:#eee;
  padding:2%;
  width:96%;
  float:left;
  margin-top:50px;
  background-color:#444;
  font-size: 0.9em;
}

div.footer a {
  color:inherit;
  text-decoration: underline;
}

div.footer span.right {
  text-align: right;
  float:right;
}

div.postlist div.post {
  padding-bottom:30px;
  border-bottom: solid 4px #666;
  margin-bottom:30px;
}

div.postlist div.post h1 a {
  text-decoration:underline;
}

div.pagination {
  text-align: center;
}

div.archivetitle {
  width:100%;
  float:left;
  border-bottom: solid 1px #eee;
  margin-bottom:30px;
}

div.archivetitle h2 {
  float:left;
}

div.archivetitle ul {
  float:right;
  margin-top:15px;
}

.c1 {color:#aaa;}


div#email-subscribe {
  background-color: #FAFAD2;
  padding-left: 5px;
  padding-right: 5px;
}

ol li ul {
  margin-bottom:15px;
}

/*.modal {
  position: absolute;
}
*/

.modal h1 {
  margin:0;
}
.modal-body {
  max-height:450px;
}

.modal-image .attribution {
  text-align: right;
  padding-right:10px;
  color:#ccc;
  font-size: 0.8em;
  margin-bottom: 0;
}

.modal-image .attribution a {
  color:#ccc;
}

.modal-body img {
  margin-bottom:10px;
}

.research {
  padding:20px;
  background-color:#333;
  color:white;
  border-radius:5px;
}

.research h2 {
  font-size:1.8em;
  font-weight: bold;
  margin-top:0;
}

.research form {
  margin-bottom: 0
}
.research form .help-block {
  color: #aaa;
  margin-bottom:0;
}

/*BUTTONS*/

.share {
  text-align: right;

}

.is_stuck {
  margin-top:10px;
}

.share .btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  padding-top: 8px;
  padding-bottom:8px;
}

.share .btn:hover {
  color:black;
}

.btn i {
  margin-left: -3px;
  padding-right: 5px;
}

.btn-facebook {
  background-color: #3b5998;
  background-image:none;
}

.btn-twitter {
  background-color: #00aced;
  background-image:none;
}

.btn-linkedin {
  background-color: #4875B4;
  background-image: none;
}

.subscribe-wrapper {
  margin-top: 20px;
}



/*POPULAR POSTS*/

.popular .popular-posts-list {
  list-style: none;
  margin-left:0;
}

.popular .popular-posts-list li {
  padding-bottom:10px;
  padding-top:5px;
  border-bottom:solid 1px #eee;
}
