<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{page.description}}">
  <meta name="tags" content="{{page.tags | join: ", "}}">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Matthew Rathbone </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <!-- <link rel="stylesheet" href="/css/pygment.css" /> -->
  <link rel="stylesheet" href="/css/zenburn.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css?v={{site.version}}" />
  <link rel="stylesheet" href="/css/hola-bar.css?v={{site.version}}" />
  <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="Blog RSS Feed" />
  <script type="text/javascript" src="/js/jquery-1.10.2.min.js" ></script>
  <script type="text/javascript" src="/js/jquery.cookie.js" ></script>
  <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
  {% include _twitter_card.html %}
  {{head}}
</head>
<body>
  <div class="page-wrap">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <li><a href="/">Home</a></li>
              <li><a href="/archive">Archive</a></li>
              <li><a href="/archive/topics.html">Topics</a></li>
              <li><a href="/feed.xml">RSS</a></li>
            </ul>
            <h2 class="muted"><a href="/">Matthew Rathbone</a></h2>
          </div>
        </div>  
      </div>
    </div>
    {{content}}
    
  </div>
  <div class="site-footer">
    <div class="footer">
      <p><a href="http://twitter.com/rathboma">twitter</a> /
       <a href="http://github.com/rathboma">github</a> / 
       <span class="right">Copyright Matthew Rathbone 2013, All Rights Reserved.</span> <span id="pixel"></span>
          <span class="alexandra">My wife <a href="http://alexandrapavlakis.com">Alexandra</a> should take credit for most of my productivity</span>
       </p>
     </div>
  </div>
 </div>


 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-712293-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(document).ready(function(){
    var tag = new Date().getTime();
    var src = "http://pixel.beekeeperdata.com?tag=" + tag;
    $('#pixel').append('<img id="pxl" src="' + src +'" />')
  });


</script>

{% include _hola-bar.html %}
</body>
</html>