<!DOCTYPE html>
<html>
<head>
  <title>Matthew Rathbone's Resume</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/resume.css">
</head>
<body>
  <div class="container">
      <div class="row maincontent">
        <div class="span8 offset2">
          <div class="mainwrapper">
            <a class="btn btn-success btn-small" href="/resume.pdf">Download PDF</a>
            {{ content }}  
          </div>
        </div>
      </div>
  </div>
</body>
</html>