---
layout: basic
---
<div class="container-fluid">
  <div class="row-fluid post-container">
    <div class="span9">
      <div class="maincontent">
        {{content}}
      </div>
    </div>
    <div class="span3">
      <div class="sidebar sticky">
        <div class="card inverted text-center newsletter-mini">
          <h2>Join my newsletter</h2>
          <p>Learn more about Hadoop and Big Data.</p>
            {% include _newsletter_mini.html %}

            
        </div>
        <div class="card">
          <h2><img src="/img/bk-icon.png" alt="Beekeeper Studio Icon"> Beekeeper Studio</h2>
          <p>I maintain an open source SQL editor and database manager with a focus on usability. It is cross-platform and really nice to use.</p>
          <p class="text-right">
            <a href="https://beekeeperstudio.io" target="_blank" class="btn btn-warning">Check it Out</a>
          </p>
        </div>
        {% if page.is_post %}
        <div class="card">
          {% include _recent_posts.html %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>


