---
layout: basic
---
<div class="container-fluid">
  <div class="row-fluid post-container">
    <div class="span9">
      <div class="maincontent">
        {{content}}
      </div>
    </div>
    <div class="span3">
      <div class="sidebar sticky">
        <div class="card inverted text-center newsletter-mini">
          <h2>Join my newsletter</h2>
          <p>Learn more about Hadoop and Big Data.</p>
            {% include _newsletter_mini.html %}

            
        </div>
        <div class="card">
          {% include _recent_posts.html %}
        </div>
      </div>
    </div>
  </div>
</div>


