---
layout: basic
---
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="maincontent">
        {{content}}
      </div>
    </div>
    <div class="span4">
      <div class="maincontent sidebar">
        <h1 class="top-heading">About</h1>
        <img class="img-polaroid" src="http://www.gravatar.com/avatar/d7d1ac2de76fe378ce8d6553d63ad063.png?s=80" alt="me" />  
        <p>British born software engineer living in <s>London</s> <s>New York</s> Madison WI.</p>
        <p>I run <a href="http://beekeeperdata.com">Beekeeper Data</a>.</p>
        <p>I am generally inspired at all times by wife Alexandra.</p>
        <p>Opinions on this website are my own.</p>
        <h3>Get in touch</h3>
        <ul>
          <li><a href="http://twitter.com/rathboma">twitter</a></li>
          <li><a href="http://github.com/rathboma">github</a></li>
          <li><a href="http://www.linkedin.com/profile/view?id=10238652">linkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
